/*------------------------------------------------------------------
[1. People]
*/

.nvr-people{padding:0 0 0px 0; }
.nvr-people ul{padding:0px;}
.nvr-people li{list-style-type:none; margin-left:0px; margin-top:0px; margin-bottom:20px;}
.nvr-people li.clearfix{margin:0px !important; padding:0px !important;}
.nvr-people .alpha{clear:both;}
.nvr-people .peoplecontainer{border-width:1px; border-style:solid;}
.nvr-people .peopleinfo{margin:0px 0px 0px 0px; display:block; text-transform:uppercase; font-size:12px;}
.nvr-people .peopletitle{padding:14px 12px 11px 12px; font-size:16px; position:relative; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.nvr-people h5.peopleabout{margin-bottom:13px;}
.nvr-people .peoplecontent{padding:40px 20px 13px; position:absolute; left:0px; top:0px; bottom:0px; right:0px; z-index:100; opacity:0; transition:opacity 1s; -moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; overflow:hidden;}
.nvr-people li:hover .peoplecontent{opacity:1;}
.nvr-people blockquote.nomargin{margin-left:0px;}
.nvr-people .peoplecontainer{transition:background-color 1s; -moz-transition:background-color 1s; -webkit-transition:background-color 1s; -o-transition:background-color 1s;}
.nvr-people .imgcontainer{ display:block; position:relative;transition:background-color 1s; -moz-transition:background-color 1s; -webkit-transition:background-color 1s; -o-transition:background-color 1s; }
.nvr-people .imgcontainer img{margin:0px auto; display:block; opacity:1;transition:opacity 1s; -moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s;}
.nvr-people li:hover .imgcontainer img{opacity:0.1;}
.nvr-people .peoplesocial{width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:0px 9px; border-width:1px 0px 0px; border-style:solid;}
.nvr-people .peoplesocial a{display:inline-block; width:28px; height:46px; line-height:46px; font-size:16px; margin:0px 3px;}
.nvr-people .peoplesocial img{display:block;}

/* People */
.nvr-people .peoplecontainer{border-color:#f7f7f7;}
.nvr-people .peopletitle{ color:#000;}
.nvr-people .peopleabout{color:#000;}
.nvr-people .peopleinfo{color:#a6a6a6;}
.nvr-people li:hover .imgcontainer{background-color:#fff;}
.nvr-people .peoplesocial{border-color:#f7f7f7;}
.nvr-people .peoplesocial a{color:#000;}
.nvr-people .peoplesocial a:hover{color:#00afbc;}
